<div class="b-footer-nav ui container">
    <div class="ui two column grid">
        <div class="row">
            <div class="column">
                <ul id="b-footer-links">
                    <li>Features</li>
                    <li>Blog</li>
                    <li>About</li>
                </ul>
            </div>

            <div class="column">
                <h4 id="b-h45">Newsletter</h4>
                <form action="" method="post" id="b-newsLetter" class="ui input">
                    <input type="email" name="email" placeholder="Enter your email" class="b-email">
                    <button type="submit" class="ui primary button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <p>Copyright © Propbook - 2018</p>


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"></script>
    <script src="/scripts.js"></script>
    </body>

    </html>