<div class="ui menu massive">
    <a class="item" id="propBookLocate">
        <img src="resources/propbook.png" alt="">
    </a>
    <a class="item">
                  Messages
                </a>
    <div class="right menu">
        <div class="item">
            Language
        </div>
        <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="four column row">
        <div class="left floated column"><img src="resources/propLogo.png" alt=""> PropBook</div>
        <div class="left floated column">Features</div>
        <div class="left floated column">Pricing</div>
        <div class="left floated column">Blog</div>
        <div class="left floated column">About</div>
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
</div>