<div class="ui grid ui sticky">
    <div class="computer only row">
        <div class="column">
            <div class="ui menu borderless">
                <a href="#" class="item" id="propbook"><img src="./resources/propbook_logo.png" alt=""></a>
                <a class="item">Features</a>
                <a class="item">Blog</a>
                <a class="item">About</a>
                <div class="right menu">
                    <a class="item ui"><button class="ui primary button b-signUp">SIGN UP</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="tablet mobile only row">
        <div class="column">
            <div class="ui borderless menu">
                <a id="mobile_item" class="item"><i class="bars icon"></i></a>
                <a href="#" class="item"><img src="./resources/propbook.png" alt=""></a>
                <div class="right menu">
                    <a><button class="ui primary button b-signUp">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="ui pushable segment">
    <div class="ui sidebar vertical menu ">
        <a class="item">Features</a>
        <a class="item">Blog</a>
        <a class="item">About</a>
    </div>
    <div class="pusher">

