body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 0;
}


/* Collapsable navbar start */

.ui.grid {
    padding: 0 !important;
}

.pushable.segment {
    margin: 0 !important;
}

.ui.menu.mainNav {
    margin: 20px 10px 30px 50px;
    border: none;
    color: rgb(54, 54, 54) !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.ui.menu.mainNav>a.item {
    border: none;
    color: rgb(54, 54, 54);
    font-family: 'Source Sans Pro', sans-serif;
}

a#propbook.item {
    padding-top: 2em;
    margin-left: 2em;
    color: rgb(54, 54, 54);
    font-family: 'Source Sans Pro', sans-serif;
}


/* propbooklogo */

a#propbook.item>img {
    height: 4em;
    width: auto;
    margin-left: 1vw;
}


/* Mobile menu items */

div.ui.borderless.menu {
    height: 15vh;
    /* padding-right: 5em; */
    width: 100%;
}

div.ui.borderless.menu>a.item {
    padding-top: 2em;
    color: rgb(54, 54, 54);
    font-family: 'Source Sans Pro', sans-serif;
}

div.ui.borderless.menu>a.item>img {
    min-width: 200px;
}


/* Hamburger */

a#mobile_item.item>i {
    font-size: 1.7em;
    max-width: 100%;
    padding-bottom: 1.5em;
}

#content {
    height: 2000px;
    width: 100%;
    background-color: aqua;
}


/* Collapsable navbar end */


/* body part 1 */

#body1 {

    background: #73C8A9;  /* fallback for old browsers */
background: -webkit-linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 1px none #000;
}

#body1>h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 70%;
    margin: 0px auto 7px;
    font-size: 2.827em;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    display: block;
}

#body1>div {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
    margin: 0px auto 0px;
    font-size: 1.414em;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 0 2em 0 2em;
    white-space: nowrap;
}

#body1>button {
    border-radius: 0;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px auto 7px;
    font-size: 1em;
    display: block;
    position: center;
}


/* end body1 */


/* start body2 */

#body2 {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 4em 1em 2em 1em;
}

#body2>div.ui.container>div.ui.equal.width.grid {
    text-align: center;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0.2vw;
}


/* a logbook for you home start */

#body2>div.ui.container>div.ui.equal.width.grid>div.column {
    width: 80%;
}

#body2>div.ui.container>div.ui.equal.width.grid>div.column>h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    clear: none;
    font-size: 1.999em;
    line-height: 37px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#body2>div.ui.container>div.ui.equal.width.grid>div.column>p {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    color: #838383;
    font-size: 1em;
    text-align: center;
}


/* a logbook for you home end */

#body2>div.ui.container>div.ui.equal.width.grid>div.equal.width.row>div.column>img {
    max-height: 600px;
    max-width: auto;
}

#b-comp-ul {
    margin: 5em 5em 10em 0;
    padding-top: 1em;
    padding-bottom: 5em;
    height: 70%;
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    width: 80%;
}

#b-mobe-ul {
    margin: 5em 5em 10em 0;
    padding-top: 1em;
    padding-bottom: 5em;
    height: 70%;
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    width: 80%;
}

.h2x {
    margin-top: 115px;
    margin-bottom: 4px;
    padding-top: 0px;
    float: none;
    font-size: 1.414em;
    font-weight: 600;
    text-transform: none;
}

.px {
    margin-bottom: 51px;
    color: #838383;
    font-size: 1em;
    line-height: 1.414em;
    width: 100%;
}


/* HOW IT WORKS */

.body3 {
    background-color: white;
    width: 100%;
    display: block;
    margin-bottom: 1vh;
}

.body3>div>div>div>div.sec-title {
    margin-top: 0px;
    margin-bottom: 10px;
    clear: none;
    font-size: 1.999em;
    line-height: 37px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#hr1 {
    width: 100%;
}

.bluNum {
    margin-right: 10px;
    color: #1f6fff;
}

.colTitle {
    display: inline-block;
    white-space: nowrap;
}

.colTitle>div {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}


/* tabs */

#b-row {
    width: 100%;
    padding: 0 10%;
    align-items: center;
    margin-top: 15vh;
}

#b-tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
}

#b-tabs div {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
    align-content: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin: 1vw 1vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 15px;
}

div.b-service-tab img {
    display: block;
    width: 50%;
    text-align: center;
    line-height: 10px;
}

#b-tabs div.b-inactive {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: whitesmoke;
    padding: 1%;
    border-top-color: none;
    border-right-color: none;
    border-bottom-color: none;
    border-left-color: none;
    box-shadow: none;
    white-space: nowrap;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #c7c7c7;
    list-style: none;
    text-align: center;
    line-height: 15px;
}

div.b-mouseO span {
    color: #838383;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    padding-top: 20%;
}

#b-tabs div.b-inactive:hover {
    color: #4d4d4d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
}

.b-tabs-container {
    clear: both;
    width: 100%;
    text-align: left;
    padding-top: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.b-tabs-container h4 {
    width: 25%;
    margin-right: 10%;
    vertical-align: middle;
}


/* body4 */

.body4 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: #1f6fff;
    color: white;
    min-height: 35vh;
    padding: 2vh 2vw;
}

#b-h4 {
    margin-right: 3vw;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}

.body4 button {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 1vh;
    white-space: nowrap;
}

.b-footer-nav {
    overflow: auto;
    font-weight: 400;
    color: #333;
    font-size: 16px;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
}

#b-footer-links li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #333;
    list-style: none;
    text-align: center;
    margin: 10vh 0;
}

#b-h45 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #333;
    list-style: none;
    margin: 10vh 0;
}

#b-newsLetter>p::after {
    content: "\A";
    white-space: pre;
}

form.ui.input>input.b-email::after {
    content: "\A";
    white-space: pre;
}

#b-signUpDimmer {
    width: 100%;
    height: 100%;
}

#b-signUpPage {
    width: auto;
    height: auto;
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5%;
    padding: 2vw 2vw;
}
#b-signUpPage>div.twelve.wide.row{
margin: 5vh 5vh;
}

#b-sE{
    border: none;
    background:none;
    outline: 0;
    padding: none;
    width: 100%;
    color: white;
}

#b-sN{
    border: none;
    outline: 0;
    padding: none;
    background:none;
    width: 100%;
    color: white;
    

}

.b-sH6{
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 5% 0;
}

.b-sHr{
 margin: 1% 0 10% 0;
 box-shadow: none;
 background: none;
 border-color: white;
 border-style: solid;
 border-top: none;
 border-left: none;
 border-right: none;

}

.b-sF{
width: 100%;

}


/* a:hover{
    
} */
/* #own-grid {
    display: flex;
    justify-content: space-around;
} */


/* TESTING */