body {
    font-size: 15px;
    background: url('/resources/house3.jpeg') no-repeat;
    background-size: auto;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}


/* Collapsable navbar start */

.ui.grid {
    padding: 0 !important;
}

.pushable.segment {
    margin: 0 !important;
}

.ui.menu.mainNav {
    margin: 20px 10px 30px 50px;
    border: none;
    color: rgb(54, 54, 54) !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.ui.menu.mainNav>a.item {
    border: none;
    color: rgb(54, 54, 54);
    font-family: 'Source Sans Pro', sans-serif;
}

a#propbook.item {
    padding-top: 2em;
    margin-left: 2em;
    color: rgb(54, 54, 54);
    font-family: 'Source Sans Pro', sans-serif;
}


/* propbooklogo */

a#propbook.item>img {
    height: 4em;
    width: auto;
    margin-left: 2em;
}


/* Mobile menu items */

div.ui.borderless.menu {
    min-height: 40px;
    padding-right: 5em;
}

div.ui.borderless.menu>a.item {
    padding-top: 2em;
    color: rgb(54, 54, 54);
    font-family: 'Source Sans Pro', sans-serif;
}

div.ui.borderless.menu>a.item>img {
    min-width: 200px;
}


/* Hamburger */

a#mobile_item.item>i {
    font-size: 1.7em;
    max-width: 100%;
    padding-bottom: 1.5em;
}

#content {
    height: 2000px;
    width: 100%;
    background-color: aqua;
}


/* Collapsable navbar end */


/* body part 1 */

#body1 {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1488CC, #2B32B2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1488CC, #2B32B2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 700px;
    padding-top: 5em;
    padding-bottom: 0px;
    border: 1px none #000;
}

#body1>h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 70%;
    margin: 0px auto 7px;
    font-size: 2.827em;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    display: block;
}

#body1>div {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
    margin: 0px auto 0px;
    font-size: 1.414em;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 0 2em 0 2em;
    white-space: nowrap;
}

#body1>button {
    border-radius: 0;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px auto 7px;
    font-size: 1em;
    display: block;
    position: center;
}


/* end body1 */


/* start body2 */

#body2 {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 4em 1em 2em 1em;
}

#body2>div.ui.container>div.ui.equal.width.grid {
    text-align: center;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0.2vw;
}


/* a logbook for you home start */

#body2>div.ui.container>div.ui.equal.width.grid>div.column {
    width: 80%;
}

#body2>div.ui.container>div.ui.equal.width.grid>div.column>h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    clear: none;
    font-size: 1.999em;
    line-height: 37px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#body2>div.ui.container>div.ui.equal.width.grid>div.column>p {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    color: #838383;
    font-size: 1em;
    text-align: center;
}


/* a logbook for you home end */

#body2>div.ui.container>div.ui.equal.width.grid>div.equal.width.row>div.column>img {
    max-height: 600px;
    max-width: auto;
}

#body2>div.ui.container>div.ui.equal.width.grid>div.equal.width.row>div.column>ul {
    margin: 5em 5em 10em 0;
    padding-top: 1em;
    padding-bottom: 5em;
    height: 70%;
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    width: 80%;
}

.h2x {
    margin-top: 115px;
    margin-bottom: 4px;
    padding-top: 0px;
    float: none;
    font-size: 1.414em;
    font-weight: 600;
    text-transform: none;
}

.px {
    margin-bottom: 51px;
    color: #838383;
    font-size: 1em;
    line-height: 1.414em;
    width: 100%;
}


/* HOW IT WORKS */

.body3 {
    background-color: white;
    width: 100%;
    height: 3000px;
    padding: 4em 1em 2em 1em;
    margin-bottom: 10%;
}

.body3>div>div>div>div.sec-title {
    margin-top: 0px;
    margin-bottom: 10px;
    clear: none;
    font-size: 1.999em;
    line-height: 37px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#hr1 {
    width: 100%;
}

.bluNum {
    margin-right: 10px;
    color: #1f6fff;
}

.colTitle>div {
    display: inline-block;
    margin-bottom: 14px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}


/* tabs */

#b-row {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#b-tabs {
    display: flex;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
    word-wrap: break-word
}

#b-tabs div {
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
}

#b-tabs div div {
    padding: 10% 10%;
    background: white;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
}


/* .b-service-tab-service:after {
    content: " ";
    padding-bottom: 100%;
    display: inline-block;
} */

div.b-service-tab-service img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#b-tabs div div.b-inactive {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: whitesmoke;
    padding: 20px;
    border-top-color: none;
    border-right-color: none;
    border-bottom-color: none;
    border-left-color: none;
    box-shadow: none;
}

.b-tabs-container {
    clear: both;
    width: 100%;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    text-align: left;
    padding-top: 20px;
    height: 100px;
}


/* body4 */

.body4 {
    width: 100%;
    height: 800px;
    background-color: #424549;
}


/* #own-grid {
    display: flex;
    justify-content: space-around;
} */


/* TESTING */

.circle {
    position: relative;
    width: 10%;
    height: 0;
    padding: 5% 0;
    margin: 1em auto;
    border-radius: 50%;
    background: #a7cd80;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.content:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 100%;
}

.content span {
    vertical-align: middle;
    display: inline-block;
}