<% include ../partials/head %>

    <% include ../partials/nav %>


        <div id="body1">
            <h1>Maintain the value of your property</h1>
            <div class="container">
                <p>Maintain.</p>
                <p>Track.</p>
                <p>Retain Value.</p>
            </div>
            
            <button class="ui inverted button b-dimmer b-signUp">Sign Up Free</button>
        </div>
        <div id="body2">
            <div class="ui container">
                <div class="ui equal width grid">
                    <div class="column computer tablet only">
                        <h2>A LOGBOOK FOR YOUR HOME.</h2>
                        <p>Propbook is Australia's first digital logbook for your home. Providing a secure way to track all maintenance done on your home -which can be used to inspire confidence for a future buyer.</p>
                    </div>
                    <div class="column mobile only">
                        <h2>A LOGBOOK FOR YOUR HOME.</h2>
                        <p>Propbook is Australia's first digital logbook for your home. Providing a secure way to track all maintenance done on your home -which can be used to inspire confidence for a future buyer.</p>
                    </div>
                    <div class="equal width row">
                        <div class="computer tablet only column">
                            <ul id="b-comp-ul">
                                <li>
                                    <h4 class="h2x">Prevent Issues.</h4>
                                    <p class="px">We keep track of when the different components of your home need servicing, so that you don't have to.</p>
                                </li>
                                <li>
                                    <h4 class="h2x">One record.</h4>
                                    <p class="px">By keeping records of all work done digitally, there is no risk of loosing documents.</p>
                                </li>
                                <li>
                                    <h4 class="h2x">Export when selling.</h4>
                                    <p class="px">A valuable reference that demonstrates how well you’ve cared for your home, making it a great selling device when you put your home up for sale.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column">
                            <img src="./resources/app_view.png" alt="" srcset="">
                        </div>

                    </div>
                    <div class="mobile only column">
                        <ul id="b-mobe-ul">
                            <li>
                                <h4 class="h2x">Prevent Issues.</h4>
                                <p class="px">We keep track of when the different components of your home need servicing, so that you don't have to.</p>
                            </li>
                            <li>
                                <h4 class="h2x">One record.</h4>
                                <p class="px">By keeping records of all work done digitally, there is no risk of loosing documents.</p>
                            </li>
                            <li>
                                <h4 class="h2x">Export when selling.</h4>
                                <p class="px">A valuable reference that demonstrates how well you’ve cared for your home, making it a great selling device when you put your home up for sale.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="body3">
            <div class="ui container">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="sec-title">How it works</div>
                        <hr id="hr1">
                    </div>
                    <div class="doubling four column row" id="b-steps">
                        <div class="column">
                            <div class="colTitle">
                                <div class="bluNum">1</div>
                                <div>Sign Up Free.</div>
                            </div>
                            <p class="px"> Enter your name and email address to join the waitlist. While you are waiting, you will be sent progress updates and maintenance how-tos.</p>
                        </div>
                        <div class="column">
                            <div class="colTitle">
                                <div class="bluNum">2</div>
                                <div>Start your own Propbook.</div>
                            </div>
                            <p class="px">Set up your home on Propbook and start receiving notifications for required maintenance, you can quickly and easily confirm what has and hasn’t been done.</p>
                        </div>
                        <div class="column">
                            <div class="colTitle">
                                <div class="bluNum">3</div>
                                <div>Be Reminded.</div>
                            </div>
                            <p class="px"> With each notification, you can access information regarding how to correctly and safely complete the task, while recording information including receipts and photos.</p>
                        </div>
                        <div class="column">
                            <div class="colTitle">
                                <div class="bluNum">4</div>
                                <div>Maintain.</div>
                            </div>
                            <p class="px"> Easily share a page with your maintenance history when you need it - for example when you are selling your property or applying for an insurance or warranty claim!</p>
                        </div>
                    </div>

                    <!-- SERVICE TABS START -->
                    <div class="computer tablet only row" id="b-row">
                        <div id="b-tabs">
                            <div class="b-service-tab" id="b-tab1">
                                <img src="./resources/seriveicon2.png" alt="">
                                <span>Exterior</span></div>

                            <div class="b-service-tab" id="b-tab2">
                                <img src="./resources/seriveicon3.png" alt="">
                                <span>Interior</span></div>

                            <div class="b-service-tab" id="b-tab3">
                                <img src="./resources/seriveicon5.png" alt="">
                                <span>Appliances</span></div>

                            <div class="b-service-tab" id="b-tab4">
                                <img src="./resources/seriveicon4.png" alt="">
                                <span>Electrical</span></div>

                            <div class="b-service-tab" id="b-tab5">
                                <img src="./resources/seriveicon6.png" alt="">
                                <span>Plumbing</span></div>
                        </div>
                    </div>
                    <div class="mobile only row" id="b-row">
                            <div class="b-tabs">
                                <div class="b-service-tab b-mob-serv" id="b-tab1">
                                    <img src="./resources/seriveicon2.png" alt="">
                                    <span>Exterior</span></div>
    
                                <div class="b-service-tab b-mob-serv" id="b-tab2">
                                    <img src="./resources/seriveicon3.png" alt="">
                                    <span>Interior</span></div>
    
                                <div class="b-service-tab b-mob-serv" id="b-tab3">
                                    <img src="./resources/seriveicon5.png" alt="">
                                    <span>Appliances</span></div>
                            </div>        
                    </div>
                    <div class="mobile only row" id="b-row">
                            <div class="b-tabs">
                                <div class="b-service-tab b-mob-serv" id="b-tab4">
                                    <img src="./resources/seriveicon4.png" alt="">
                                    <span>Electrical</span></div>
    
                                <div class="b-service-tab b-mob-serv" id="b-tab5">
                                    <img src="./resources/seriveicon6.png" alt="">
                                    <span>Plumbing</span></div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="b-tabs-container" id="b-tab1C">
                            <h4>Roof, lawns. windows and doors</h4>
                            <p>Weather will damage anything that is in it, stop your home from swelling, peeling and clogging</p>
                        </div>
                        <div class="b-tabs-container" id="b-tab2C">
                            <h4>Inside living areas</h4>
                            <p class="px"> Just like anything else with constant use even the inside of our homes can slowly wear down
                            </p>
                        </div>
                        <div class="b-tabs-container" id="b-tab3C">
                            <h4>TVs, computers gadgets and tools</h4>
                            <p class="px">Making sure your appliances are being looked after will increase the life expectancy </p>
                        </div>
                        <div class="b-tabs-container" id="b-tab4C">
                            <h4>Lighting cooking heating and cooling</h4>
                            <p class="px">This will be copy about the benefits of regularly maintained plumbing.</p>
                        </div>
                        <div class="b-tabs-container" id="b-tab5C">
                            <h4>Sinks toilets baths and sinks</h4>
                            <p>This will be copy about the benefits of regularly maintained plumbing.</p>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="body4">
            <h4 id="b-h4">Protect the value of your house with regular maintenance and long-term record keeping.</h4>
            <button class="ui inverted button b-dimmer b-signUp">Sign Up Free</button>
        </div>
        </div>
        
            
       
        <% include ../partials/foot %>