<% include ../partials/head %>

    <!-- <% include ../partials/nav %> -->


    <div class="nav">
        <div class="container-fluid">
            <a href="#" id="logoandname" class="navOptions"><img src="./resources/propLogo.png" alt=""> PropBook</a>
            <a href="#" class="navOptions">Features</a>
            <a href="#" class="navOptions">Blog</a>
            <a href="#" class="navOptions">About</a>
            <button class="btn-primary">SIGN UP FREE</button>
        </div>

    </div>
    <div class="mainBody">
        <div class="container">
            <div id="mainHeader">
                <h1>Maintain the value </h1>
                <h1>of your property.</h1>
            </div>
            <button type="button" class="btn btn-outline-light" id="signUp">SIGN UP FREE</button>
            <p>Propbook is Australia's first digital logbook for your home. Providing a secure way to track all maintenance done on your home -which can be used to inspire confidence for a future buyer.
            </p>
        </div>
    </div>
    <div class="secBody">
        <h2>A Logbook for your home.</h2>
        <p>Portect the value of your house with regular maintenceance and long-term record keeping.</p>
        <div class="container-fluid">
            <ul>
                <li>
                    <h4> Prevent problems from happening</h3>
                        <p>We keep track of when the different components of your home need servicing, so that you don't have to.</p>
                </li>
                <li>
                    <h4> One record of all work done to the propery.</h3>
                        <p>By keeping records of all work done digitally, there is no risk of loosing documents.</p>
                </li>
                <li>
                    <h4>Export record when selling the property.</h3>
                        <p>A valuable reference that demonstrates how well you’ve cared for your home, making it a great selling device when you put your home up for sale.</p>
                </li>
            </ul>
            <div class="border-line row align-items-center">
                <div class="service-tab"></div>
                <div class="service-tab"></div>
                <div class="service-tab"></div>
                <div class="service-tab"></div>
                <div class="service-tab"></div>
            </div>
            <div class="row align-items-center">
                <div class="col">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero."
                </div>
                <div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                </div>
            </div>

        </div>
    </div>
    <div class="thirdBody">
        <div class="container-fluid">
            <h2 id="howh2"> How it works</h2>
            <hr>
            <div class="row howSteps">
                <div class="col-sm">
                    <h6 class="subTitle number">1 </h6>
                    <h6 class="subTitle">Sign Up Free</h6>
                    <p>Book in for a Propbook representative to come to your home for an initial inspection.</p>
                </div>
                <div class="col-sm">
                    <h6 class="subTitle number">1 </h6>
                    <h6 class="subTitle">CONFIRMATION</h6>
                    <p>Your Propbook account manager will email you introducing themselves. </p>
                </div>
                <div class="col-sm">
                    <h6 class="subTitle number">1</h6>
                    <h6 class="subTitle">ONBOARDING SURVEY</h6>
                    <p>Your account manager will provide you with a short survey on when various elements of your property were last serviced.</p>
                </div>
                <div class="col-sm">
                    <h6 class="subTitle number">1</h6>
                    <h6 class="subTitle">EMAIL OR TEXT</h6>
                    <p>When any servicing is done on your property, email or message your account manager with the details and they will update you logbook.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="forthBody">
        <h4>Protect the value of your house with regular maintenance and long-term record keeping.</h4>
        <button type="button" class="btn btn-outline-light" id="signUp">SIGN UP FREE</button>
    </div>
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <ul>
                        <li>Features</li>
                        <li>Blog</li>
                        <li>About</li>
                    </ul>
                </div>
                <div class="col-md">
                    CONTENT REQUIRED
                </div>
                <div class="col-md">
                    <h4>Newsletter</h4>
                    <form action="" method="post">
                        <p>Email Address:</p>
                        <input type="email" name="email" placeholder="Enter your email">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <p>Copyright © Propbook - 2018</p>


        <% include ../partials/foot %>